{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}
{% block nav-global %}
    {% if user.is_authenticated and user.groups.all.0.name != 'Admin' %}
    <!-- TODO: remove this hack above, use custom template tags instead -->
    <!-- TODO: move this into css file -->
    <style>
        #branding+.sidebar-section .sidebar-link-label {
            display: flex;
            align-items: center;
        }
    </style>
    {% endif %}
{% endblock %}
