{% extends 'users/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 mb-3">
       <h4 class="text-center"> Welcome {{ user.username }} </h4>
    </div>
</div>
{% endblock %}