{% extends 'users/base.html' %}
{% block title %} Sign in {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
            <button class="btn btn-primary mb-2">
                <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
            </button>
        </div>
            <div class="col-md-8 mx-auto social-container my-2 order-md-1">
            <button class="btn btn-primary mb-2">
                <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}">Login google</a>
            </button>
        </div>
    </div>
{% endblock %}