{% load i18n %}

{% block subject %}
    {% blocktrans %}Account activation{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
    {% blocktrans %}You're receiving this email because you need to finish activation process.{% endblocktrans %}

    {% trans "Please go to the following page to activate account:" %}
    {{ protocol }}://{{ domain }}/{{ url|safe }}

{% endblock text_body %}

{% block html_body %}
    <p>{% blocktrans %}You're receiving this email because you need to finish activation process.{% endblocktrans %}</p>

    <p>{% trans "Please go to the following page to activate account:" %}</p>
    <a href="https://cryptoairdrop.io/auth/complete/{{ url }}">
        https://cryptoairdrop-develop.herokuapp.com/auth/complete/{{ url }}
    </a>

{% endblock html_body %}
