{% load i18n %}

{% block subject %}
    {% blocktrans %}Password reset on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
    {% blocktrans %}You're receiving this email because you requested a password reset for your user account at
        https://cryptoairdrop.io.{% endblocktrans %}

    {% trans "Please go to the following page and choose a new password:" %}
    https:/cryptoairdrop.io/password-recovery/{{ url }}
    {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

    {% trans "Thanks for using our site!" %}

    {% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
    <p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at
        {{ site_name }}.{% endblocktrans %}</p>

    <p>{% trans "Please go to the following page and choose a new password:" %}</p>
    <a href="https://cryptoairdrop.io/password-recovery/{{ url }}">
        https://cryptoairdrop.io/password-recovery/{{ url }}
    </a>

    <p>{% trans "Your username, in case you've forgotten:" %} <b>{{ user.get_username }}</b></p>

    <p>{% trans "Thanks for using our site!" %}</p>

    <p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock html_body %}
